body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
}

.App {
  min-height: 100vh;
}

header.bg-steam-dark {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

nav a {
  text-decoration: none;
}

.bg-steam-dark {
  background-color: #131c27;
}

.bg-steam-body-dark {
  background-color: #173247;
}

.btn-comprar {
  background-color: #038b0fe1;
  color: white;
}

.btn-comprar:hover {
  background-color: #038b0f;
}